
temp.html
package.json
package-lock.json
node_modules/@splidejs/splide/src/sass/themes/sky-blue/splide-sky-blue.scss
node_modules/@splidejs/splide/src/sass/themes/sky-blue/object/objects/_spinner.scss
node_modules/@splidejs/splide/src/sass/themes/sky-blue/object/objects/_progress.scss
node_modules/@splidejs/splide/src/sass/themes/sky-blue/object/objects/_pagination.scss
node_modules/@splidejs/splide/src/sass/themes/sky-blue/object/objects/_arrow.scss
node_modules/@splidejs/splide/src/sass/themes/sky-blue/object/modifiers/_ttb.scss
node_modules/@splidejs/splide/src/sass/themes/sky-blue/object/modifiers/_rtl.scss
node_modules/@splidejs/splide/src/sass/themes/sky-blue/object/modifiers/_nav.scss
node_modules/@splidejs/splide/src/sass/themes/sky-blue/foundation/_variables.scss
node_modules/@splidejs/splide/src/sass/themes/sea-green/splide-sea-green.scss
node_modules/@splidejs/splide/src/sass/themes/sea-green/object/objects/_spinner.scss
node_modules/@splidejs/splide/src/sass/themes/sea-green/object/objects/_slide.scss
node_modules/@splidejs/splide/src/sass/themes/sea-green/object/objects/_root.scss
node_modules/@splidejs/splide/src/sass/themes/sea-green/object/objects/_progress.scss
node_modules/@splidejs/splide/src/sass/themes/sea-green/object/objects/_pagination.scss
node_modules/@splidejs/splide/src/sass/themes/sea-green/object/objects/_arrow.scss
node_modules/@splidejs/splide/src/sass/themes/sea-green/object/modifiers/_ttb.scss
node_modules/@splidejs/splide/src/sass/themes/sea-green/object/modifiers/_rtl.scss
node_modules/@splidejs/splide/src/sass/themes/sea-green/object/modifiers/_nav.scss
node_modules/@splidejs/splide/src/sass/themes/sea-green/foundation/_variables.scss
node_modules/@splidejs/splide/src/sass/themes/default/splide-default.scss
node_modules/@splidejs/splide/src/sass/themes/default/object/objects/_progress.scss
node_modules/@splidejs/splide/src/sass/themes/default/object/objects/_pagination.scss
node_modules/@splidejs/splide/src/sass/themes/default/object/objects/_arrow.scss
node_modules/@splidejs/splide/src/sass/themes/default/object/modifiers/_ttb.scss
node_modules/@splidejs/splide/src/sass/themes/default/object/modifiers/_rtl.scss
node_modules/@splidejs/splide/src/sass/themes/default/object/modifiers/_nav.scss
node_modules/@splidejs/splide/src/sass/themes/default/foundation/_variables.scss
node_modules/@splidejs/splide/src/sass/core/splide-core.scss
node_modules/@splidejs/splide/src/sass/core/object/objects/_track.scss
node_modules/@splidejs/splide/src/sass/core/object/objects/_spinner.scss
node_modules/@splidejs/splide/src/sass/core/object/objects/_slider.scss
node_modules/@splidejs/splide/src/sass/core/object/objects/_slide.scss
node_modules/@splidejs/splide/src/sass/core/object/objects/_root.scss
node_modules/@splidejs/splide/src/sass/core/object/objects/_pagination.scss
node_modules/@splidejs/splide/src/sass/core/object/objects/_list.scss
node_modules/@splidejs/splide/src/sass/core/object/objects/_container.scss
node_modules/@splidejs/splide/src/sass/core/object/modifiers/_ttb.scss
node_modules/@splidejs/splide/src/sass/core/object/modifiers/_rtl.scss
node_modules/@splidejs/splide/src/sass/core/object/modifiers/_fade.scss
node_modules/@splidejs/splide/src/sass/core/object/modifiers/_draggable.scss
node_modules/@splidejs/splide/src/sass/core/foundation/_variables.scss
node_modules/@splidejs/splide/src/sass/core/foundation/_animations.scss
node_modules/@splidejs/splide/src/js/utils/utils.js
node_modules/@splidejs/splide/src/js/utils/time.js
node_modules/@splidejs/splide/src/js/utils/object.js
node_modules/@splidejs/splide/src/js/utils/error.js
node_modules/@splidejs/splide/src/js/utils/dom.js
node_modules/@splidejs/splide/src/js/transitions/slide/index.js
node_modules/@splidejs/splide/src/js/transitions/index.js
node_modules/@splidejs/splide/src/js/transitions/fade/index.js
node_modules/@splidejs/splide/src/js/splide.js
node_modules/@splidejs/splide/src/js/splide.d.ts
node_modules/@splidejs/splide/src/js/core/state.js
node_modules/@splidejs/splide/src/js/core/event.js
node_modules/@splidejs/splide/src/js/core/composer.js
node_modules/@splidejs/splide/src/js/constants/types.js
node_modules/@splidejs/splide/src/js/constants/states.js
node_modules/@splidejs/splide/src/js/constants/i18n.js
node_modules/@splidejs/splide/src/js/constants/directions.js
node_modules/@splidejs/splide/src/js/constants/defaults.js
node_modules/@splidejs/splide/src/js/constants/classes.js
node_modules/@splidejs/splide/src/js/constants/a11y.js
node_modules/@splidejs/splide/src/js/components/track/index.js
node_modules/@splidejs/splide/src/js/components/sync/index.js
node_modules/@splidejs/splide/src/js/components/pagination/index.js
node_modules/@splidejs/splide/src/js/components/options/index.js
node_modules/@splidejs/splide/src/js/components/lazyload/index.js
node_modules/@splidejs/splide/src/js/components/layout/index.js
node_modules/@splidejs/splide/src/js/components/layout/directions/vertical.js
node_modules/@splidejs/splide/src/js/components/layout/directions/horizontal.js
node_modules/@splidejs/splide/src/js/components/keyboard/index.js
node_modules/@splidejs/splide/src/js/components/index.js
node_modules/@splidejs/splide/src/js/components/elements/slide.js
node_modules/@splidejs/splide/src/js/components/elements/index.js
node_modules/@splidejs/splide/src/js/components/drag/index.js
node_modules/@splidejs/splide/src/js/components/cover/index.js
node_modules/@splidejs/splide/src/js/components/controller/index.js
node_modules/@splidejs/splide/src/js/components/clones/index.js
node_modules/@splidejs/splide/src/js/components/click/index.js
node_modules/@splidejs/splide/src/js/components/breakpoints/index.js
node_modules/@splidejs/splide/src/js/components/autoplay/index.js
node_modules/@splidejs/splide/src/js/components/arrows/path.js
node_modules/@splidejs/splide/src/js/components/arrows/index.js
node_modules/@splidejs/splide/src/js/components/a11y/index.js
node_modules/@splidejs/splide/src/assets/svg/arrow.svg
node_modules/@splidejs/splide/src/assets/svg/_arrow.svg
node_modules/@splidejs/splide/README.md
node_modules/@splidejs/splide/package.json
node_modules/@splidejs/splide/LICENSE
node_modules/@splidejs/splide/gulpfile.js
node_modules/@splidejs/splide/dist/js/splide.min.js.gz
node_modules/@splidejs/splide/dist/js/splide.min.js
node_modules/@splidejs/splide/dist/js/splide.js
node_modules/@splidejs/splide/dist/js/splide.esm.js
node_modules/@splidejs/splide/dist/css/themes/splide-skyblue.min.css
node_modules/@splidejs/splide/dist/css/themes/splide-sea-green.min.css
node_modules/@splidejs/splide/dist/css/themes/splide-default.min.css
node_modules/@splidejs/splide/dist/css/splide.min.css
node_modules/@splidejs/splide/dist/css/splide-core.min.css
node_modules/@splidejs/splide/build/module/module.js
node_modules/@splidejs/splide/build/module/config.js
node_modules/@splidejs/splide/build/complete/config.js
node_modules/@splidejs/splide/build/complete/config-min.js
node_modules/@splidejs/splide/build/complete/complete.js
node_modules/@splidejs/splide/build/banner.js
node_modules/@splidejs/splide/.eslintrc
node_modules/@splidejs/splide/.babelrc
node_modules/.package-lock.json
node_modules/@splidejs/splide-extension-grid/.babelrc
node_modules/@splidejs/splide-extension-grid/build/global/config-min.js
node_modules/@splidejs/splide-extension-grid/build/global/config.js
node_modules/@splidejs/splide-extension-grid/build/global/global.js
node_modules/@splidejs/splide-extension-grid/build/module/config.js
node_modules/@splidejs/splide-extension-grid/dist/js/splide-extension-grid.esm.js
node_modules/@splidejs/splide-extension-grid/dist/js/splide-extension-grid.js
node_modules/@splidejs/splide-extension-grid/dist/js/splide-extension-grid.min.js
node_modules/@splidejs/splide-extension-grid/gulpfile.js
node_modules/@splidejs/splide-extension-grid/images/sample01.png
node_modules/@splidejs/splide-extension-grid/LICENSE
node_modules/@splidejs/splide-extension-grid/README.md
node_modules/@splidejs/splide-extension-grid/src/js/constants/defaults.js
node_modules/@splidejs/splide-extension-grid/src/js/splide-extension-grid.js
node_modules/@splidejs/splide-extension-grid/src/js/utils/index.js
